body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Soft grey background */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; /* Slightly rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Add some space below the heading */
}

.url-container {
    margin-top: 20px;
}

.url {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for URL boxes */
    background-color: #f0f0f0; /* Light grey background */
}

.url-description {
    font-weight: bold;
    color: #333;
}

.url-link {
    color: #007bff;
    text-decoration: none;
}

.copy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
